<template>
<div class="npc-image">
    <table>
        <tr><td><img :src="$withBase(src)" alt="Debbie"></td></tr>
        <tr><td class="npc-image-caption">PC: <a :href="creditLink">{{ creditAuthor }}</a></td></tr>
    </table>
</div>
</template>

<script>
export default {
  data: function() {
    return {};
  },
  props: ["src", "creditLink", "creditAuthor"]
};
</script>

.<style scoped>
.npc-image {
  float: left;
  max-width: 400px;
  width: 47%;
  text-align: center;
  margin-top: 1ex;
  margin-bottom: 1ex;
  margin-left: auto;
  margin-right: 3%;
}

.npc-image-caption {
  font-size: 0.7em;
}
@media screen and (max-width: 40em) {
  .npc-image {
    float: none;
    width: 100%;
    margin: auto;
  }
}
</style>



